.editor-group-watermark > .letterpress {
  background-image: url("https://github.com/Aikoyori/ProgrammingVTuberLogos/blob/main/VSCode/VSCode-Thick.png?raw=true") !important;
  opacity: 0.75;
  width: 200px;
}
